ul.rig {
	list-style: none;
	font-size: 0px;
	margin: 0;
	margin-bottom: 15px;
	
	li {
		display: inline-block;
		padding: 10px;
		background: none;
		border: 0;
		font-size: 16px;
		font-size: 1rem;
		vertical-align: top;
		text-align: center;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		width: 50%;
		
		img {
			max-width: 100%;
			height: auto;
			margin: 0 0 10px;
		}
		
		p {
			font-style: italic;
			text-align: center;
		}
	}
}

#orgs {
	
	background-color: white;

	li {
		width: 25%;
	}
}

#2018-props {

	li {
		width: 50%;
	}

}

@media (max-width: 313px) {
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important;
		margin: 0 0 20px;
	}
}