
/*--------------------------------------------------
  Memer
--------------------------------------------------*/

.memer {
  position: relative;
  margin-bottom: $spacing-unit / 2;
}
.memer--inner-wrapper {
  position: relative;
  width: 50%;
  margin: auto;
  .button {
	background-color: $the-pink;
	@include radius(5px);
	color: white;
	font-family: "league-gothic";
	text-transform: uppercase;
	@include bshadow(2px 3px 0px #bacc3f);
	
	&:hover {
		@include fade-transition(background-color 500ms);
		background-color: darken($the-pink, 25%);
	}
  }

  #memer--choose {
    position: absolute;
    top: 0;
    z-index: 20;
	padding: $spacing-unit / 2;
	font-size: 2.5em;
	border: 0;
	margin-left: 15px;
	margin-top: 15px;
  }
  #memer--add-text {
    position: absolute;
    bottom: 10%;
    z-index: 20;
    margin-bottom: 0;
	padding: 3px $spacing-unit / 2;
	font-size: 1.3em;
	left: 38%;
  }
  #memer--save {
    position: relative;
    top: 100%;
	font-size: 1.3em;
	padding: 3px $spacing-unit / 2;
	text-decoration: none;
  }
  .memer--button-off {
    position: absolute !important;
    margin-left: -99999px !important;
    right: auto !important;
    left: auto !important;
    width: 1px !important;
  }
}

.canvas-wrapper,
.canvas-container {
  position: relative;
  width: 100% !important;
  height: 0 !important;
  padding-bottom: 100%;
  margin: auto;
  z-index: 10;
  margin-bottom: $spacing-unit / 2;
}
#canvas {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}
.upper-canvas {
  width: 100% !important;
  height: 100% !important;
}

#textarea-anchor {
  position: absolute;
  bottom: 0;
  height: 25%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}
