.sidebar {
	width: 40%;
	float: right;
}

.fb-page {
	background-color: none;
	width: 100%;
	padding: 10px 0;
	@include radius(5px);
	margin: ($spacing-unit / 2) 0;
	border: 1px solid #d5d0d3;
	text-align: center;
}

